{% extends "base.html" %}
{% load static %} 
{% load humanize %} 

{% block content %}
<main>
  <!-- Hero Area Start -->
  <div class="slider-area">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center"
         style="background-image: url('{% static 'assets/img/hero/about.jpg' %}');">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap text-center">
              <h2>{{ job.title }}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Area End -->

  <!-- Job Details Section -->
  <div class="job-post-company pt-120 pb-120">
    <div class="container">
      <div class="row justify-content-between">
        <!-- Left Content -->
        <div class="col-xl-7 col-lg-8">
          <!-- Job Description -->
          <div class="single-job-items mb-50">
            <div class="job-items">
              <div class="company-img company-img-details">
                {% if job.banner %}
                <img style="width: 100px;" src="{{job.banner.url}}" alt="">
                
                {% else %}
                <img style="width: 100px;" src="{% static "assets/img/job.jpg" %}" alt="">
                {% endif %}
              </div>
              <div class="job-tittle">
                <h4>{{ job.title }}</h4>
                <ul>
                  {% if job.user.has_company %}
                    <li>{{ job.user.company.name }}</li>
                  {% endif %}
                  <li><i class="fas fa-map-marker-alt"></i>{{ job.Wilaya }}</li>
                  <li>{{ job.price|intcomma }} DZD</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Job Description End -->

          <!-- Job Details -->
          <div class="job-post-details">
            <div class="post-details1 mb-50">
              <div class="small-section-tittle">
                <h4>Job Description</h4>
              </div>
              <p>{{ job.description }}</p>

              <div class="section-top-border">
                <h3>Image Gallery</h3>
                {% if job.image1 %}
                <div class="row gallery-item">

                  <div class="col-md-4">
                    <a href="{{job.image1.url}}" class="img-pop-up">
                      <div class="single-gallery-image" style="background: url({{job.image1.url}});"></div>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="{{job.image2.url}}" class="img-pop-up">
                      <div class="single-gallery-image" style="background: url({{job.image2.url}});"></div>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="{{job.image3.url}}" class="img-pop-up">
                      <div class="single-gallery-image" style="background: url({{job.image3.url}});"></div>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="{{job.image4.url}}" class="img-pop-up">
                      <div class="single-gallery-image" style="background: url({{job.image4.url}});"></div>
                    </a>
                  </div>

          

                </div>
                  
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <!-- Right Content -->
        <div class="col-xl-4 col-lg-4">
          <div class="post-details3 mb-50">
            <div class="small-section-tittle">
              <h4>Job Overview</h4>
            </div>
            <ul>
              <li>Posted by: <a style="color: black;" href="{% url 'users:elseProfile' job.user.id %}">{{ job.user.get_full_name }}</a></li>
              <li>Posted date: <span>{{ job.created_at|date }}</span></li>
              <li>Location: <span>{{ job.Wilaya }}</span></li>
              <li>Job nature: <span>{{ job.category.title }}</span></li>
              <li>Phone Number: <span>{{ job.user.phone }}</span></li>
            </ul>
            <div class="apply-btn2">
              <a href="{% url 'chat:chat' job.user.id %}" class="btn">Apply Now</a>
            </div>
          </div>
          
          {% if job.user.has_company %}
            <div class="post-details4 mb-50">
              <div class="small-section-tittle">
                <h4>Company Information</h4>
              </div>
              <span>{{ job.user.company.name }}</span>
              <p>
                It is a long established fact that a reader will be distracted by
                the readable content of a page when looking at its layout.
              </p>
              <ul>
                <li>Name: <span>{{ job.user.company.name }}</span></li>
                <li>Web: <span>{{ job.user.company.website }}</span></li>
                <li>Email: <span>{{ job.user.company.email }}</span></li>
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-9">
          <header class="section-heading">
            <h3>client comments and rating</h3>
          </header>
          <form action="{% url 'job:review' job.id %}" method="POST">
            {% csrf_token %}
            <h5>Write your review</h5>

            <!-- Rating -->
            <div>
              <label for="rating">Rate my work:</label><br />
              <div class="rate">
                <input
                  type="radio"
                  name="rating"
                  id="rating5"
                  required
                  value="5"
                /><label title="5" for="rating5"></label>
                <input
                  type="radio"
                  name="rating"
                  id="rating4.5"
                  required
                  value="4.5"
                /><label title="4.5" for="rating4.5" class="half"></label>
                <input
                  type="radio"
                  name="rating"
                  id="rating4"
                  required
                  value="4"
                /><label title="4" for="rating4"></label>
                <input
                  type="radio"
                  name="rating"
                  id="rating3.5"
                  required
                  value="3.5"
                /><label title="3.5" for="rating3.5" class="half"></label>
                <input
                  type="radio"
                  name="rating"
                  id="rating3"
                  required
                  value="3"
                /><label title="3" for="rating3"></label>
                <input
                  type="radio"
                  name="rating"
                  id="rating2.5"
                  required
                  value="2.5"
                /><label title="2.5" for="rating2.5" class="half"></label>
                <input
                  type="radio"
                  name="rating"
                  id="rating2"
                  required
                  value="2"
                /><label title="2" for="rating2"></label>
                <input
                  type="radio"
                  name="rating"
                  id="rating1.5"
                  required
                  value="1.5"
                /><label title="1.5" for="rating1.5" class="half"></label>
                <input
                  type="radio"
                  name="rating"
                  id="rating1"
                  required
                  value="1"
                /><label title="1" for="rating1"></label>
                <input
                  type="radio"
                  name="rating"
                  id="rating0.5"
                  required
                  value="0.5"
                /><label title="0.5" for="rating0.5" class="half"></label>
              </div>
            </div>

            <!-- Review Title -->
            <div>
              <label for="title">Review title:</label><br />
              <input
                type="text"
                name="title"
                id="title"
                class="form-control"
                placeholder="Title"
                required
              /><br />
            </div>

            <!-- Comment -->
            <div>
              <label for="review">Comment:</label><br />
              <textarea
                name="review"
                id="review"
                cols="30"
                rows="10"
                class="form-control"
                required
              ></textarea
              ><br />
            </div>

            <!-- Submit Button -->
            <input
              type="submit"
              value="Rate & Comment"
              class="form-control btn btn-primary"
            />
          </form>

          {% for comment in comments %}
                <article class="box mb-3">
                    <div class="icontext w-100">
                      {% if comment.user.profile_pic %}
                      <img src="{{comment.user.profile_pic.url}}" alt="User Avatar" class="img-xs icon rounded-circle" style="height: 50px; width: 50px;">
                      
                      {% else %}
                      
                      <img src="{% static 'assets/img/user.png' %}" alt="User Avatar" class="img-xs icon rounded-circle" style="height: 50px;">
                      {% endif %}
                        <div class="text">
                            <span class="date text-muted float-md-right">{{ comment.created_at }}</span>
                            <h6 class="mb-1">{{ comment.user.last_name }} {{ comment.user.first_name }}</h6>
                            <span>RATING: {{ comment.rating }}/5 stars</span>
                        </div>
                    </div>
                    <div class="mt-3">
                        <p>{{ comment.review }}</p>
                    </div>
                </article>
                <hr>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- job post company End -->
</main>

{% endblock content %}
